#dd{
    border: 1px solid black;
    height: 330px;
    width: 300px;
    float: left;
    padding: 10px;
    margin: 20px;
}
body{
margin-left: 85px;

}
    

  
    

#cc{
  
    width: 300px;
    height: 200px;
 
}

#ee{
    width: 300px;
    height: 200px;
   
}
#ff{
    width: 300px;
    height: 200px;
  
}
#hh{
    width: 300px;
    height: 200px;
}
#ii{
    width: 300px;
    height: 200px;
}